h1 Спасибо что авторизовались ;)

p 
  | Пока вся деятельность ведется в телеграм, идите туда: 
  = link_to '@' + ApplicationConfig.bot_username, telegram_auth_url, target: '_blank', rel: 'noopener noreferrer'

